<?xml version="1.0" encoding="utf-8"?>
<!-- https://go.microsoft.com/fwlink/?LinkID=208121. -->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <DockerPublish>true</DockerPublish>
    <ResourceId>/subscriptions/0a7ba907-1370-4154-b220-577c80b505ad/resourceGroups/resenas/providers/Microsoft.ContainerRegistry/registries/resenas</ResourceId>
    <ResourceName>resenas</ResourceName>
    <ResourceGroup>resenas</ResourceGroup>
    <Subscription>Azure subscription 1</Subscription>
    <RegistryUrl>https://resenas.azurecr.io</RegistryUrl>
    <UserName />
    <PublishImageTag>latest</PublishImageTag>
    <PublishProvider>ContainerRegistry</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>2c483a84-8675-1f64-7a9b-308290fde568</ProjectGuid>
    <_TargetId>AzureContainerRegistry</_TargetId>
  </PropertyGroup>
</Project>